<section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <a href="index.html"><img src="./images/logo-light.png" alt="logo" width="220px" height="50px" /></a>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Thanh toán</h2>
                        <p>
                            Công ty Auction Online chúng tôi hỗ trợ thanh toán với nhiều hình thức khác nhau
                        </p>
                        <img src="images/cards.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Về Auction Online</h2>
                        <ul>
                            <li><a href="">Giới thiệu Auction Online</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                            <li><a href="">Chính sách bảo mật thanh toán</a></li>
                            <li><a href="">Chính sách bảo mật thông tin cá nhân</a></li>
                            <li><a href="">Điều khoản sử dụng</a></li>
                            <li><a href="">Vận chuyển</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>TIN TỨC</h2>
                        <div class="fw-latest-post-widget">
                            <div class="lp-item">
                                <div class="lp-thumb set-bg">
                                    <img src="images/blog-thumbs/1.jpg" alt="" />
                                </div>
                                <div class="lp-content">
                                    <h6>what shoes to wear</h6>
                                    <span>Oct 21, 2019</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                            <div class="lp-item">
                                <div class="lp-thumb set-bg">
                                    <img src="images/blog-thumbs/2.jpg" alt="" />
                                </div>
                                <div class="lp-content">
                                    <h6>trends this year</h6>
                                    <span>Oct 21, 2019</span>
                                    <a href="#" class="readmore">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget">
                        <h2>Thông tin</h2>
                        <div class="con-info">
                            <span>Công ty:</span>
                            <p>Auction Online</p>
                        </div>
                        <div class="con-info">
                            <span>Địa chỉ.</span>
                            <p>227 Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh</p>
                        </div>
                        <div class="con-info">
                            <span>Hotline:</span>
                            <p>+84 1800 1900</p>
                        </div>
                        <div class="con-info">
                            <span>Email:</span>
                            <p>info@auctiononline.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links text-center">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                </div>

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="text-white text-center mt-5">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by CMD and NTT
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </section>