<header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                        <!-- logo -->
                        <a href="/" class="site-logo">
                            <img src="images/logo.PNG" alt="logo" width="162px" height="31px" />
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form class="header-search-form">
                            <input type="text" placeholder="Tìm kiếm" />
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            
                            <div class="up-item">
                                <i class="fa fa-user"></i>
                                <a href="login.html">Đăng nhập</a> hoặc <a href="registration.html">Đăng ký</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="viewseller/profile.html">Hồ sơ</a></li>
                    <li>
                        <a href="listproduct.html">Danh mục sản phẩm
                            <span class="new">New</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="listproduct.html">Giày</a>
                                <ul class="sub-menu-1">
                                    <li><a href="listproduct.html">Adidas</a></li>
                                    <li><a href="listproduct.html">Nike</a></li>
                                    <li><a href="listproduct.html">Jordan</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="listproduct.html">Điện tử</a>
                                <ul class="sub-menu-1">
                                    <li><a href="listproduct.html">Điện thoại di động</a></li>
                                    <li><a href="listproduct.html">Máy tính xách tay</a></li>
                                </ul>
                            </li>
                            <li><a href="listproduct.html">Quần áo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./viewbidder/wishlist.html">Yêu thích</a>
                    </li>
                    <li><a href="./viewseller/postproduct.html">Đăng bán</a></li>
                </ul>
            </div>
        </nav>
    </header>