<header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                        <!-- logo -->
                        <a href="/" class="site-logo">
                            <img src="/images/logo.PNG" alt="logo" width="162px" height="31px" />
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <form class="header-search-form">
                            <input type="text" placeholder="Tìm kiếm" />
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="user-panel">
                            
                            <div class="up-item">
                                <i class="fa fa-user"></i>
                                <a href="login">Đăng nhập</a> hoặc <a href="registration">Đăng ký</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->
                <ul class="main-menu">
                    <li><a href="/bidder/profile">Hồ sơ</a></li>
                    <li>
                        <a href="/listproduct">Danh mục sản phẩm
                            <span class="new">New</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="listproduct">Giày</a>
                                <ul class="sub-menu-1">
                                    <li><a href="listproduct">Adidas</a></li>
                                    <li><a href="listproduct">Nike</a></li>
                                    <li><a href="listproduct">Jordan</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="listproduct">Điện tử</a>
                                <ul class="sub-menu-1">
                                    <li><a href="listproduct">Điện thoại di động</a></li>
                                    <li><a href="listproduct">Máy tính xách tay</a></li>
                                </ul>
                            </li>
                            <li><a href="listproduct">Quần áo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/bidder/wishlist">Yêu thích</a>
                    </li>
                    <li><a href="/seller/postproduct">Đăng bán</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/iconic/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />