<div class="main-content">
    <div class="page-top-info">
        <div class="container">
            <h4>Lịch sử đấu giá</h4>
        </div>
    </div>
    <section class="product-section">
        <div class="container">
            <div class="back-link">
                <a href="productdetail"> &lt;&lt; Trở về chi tiết sản phẩm</a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-pic-zoom">
                        <img class="product-big-img" src="/images/laptop/laptop-macbookpro-2017.png" alt="" />
                    </div>
                    <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                        <div class="product-thumbs-track">
                            <div class="pt active" data-imgbigurl="./images/laptop/macbookpro-2017-1.webp">
                                <img src="/images/laptop/macbookpro-2017-1.webp" alt="" />
                            </div>
                            <div class="pt" data-imgbigurl="./images/laptop/macbookpro-2017-2.webp">
                                <img src="/images/laptop/macbookpro-2017-2.webp" alt="" />
                            </div>
                            <div class="pt" data-imgbigurl="./images/laptop/macbookpro-2017-3.webp">
                                <img src="/images/laptop/macbookpro-2017-3.webp" alt="" />
                            </div>
                            <div class="pt" data-imgbigurl="./images/laptop/laptop-macbookpro-2017.png">
                                <img src="/images/laptop/laptop-macbookpro-2017.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 product-details">
                    <h2 class="p-title">Laptop macbook pro 2017</h2>
                    <div class="history-bid table table-striped">
                        <table>
                            <tr>
                                <th>Thời điểm</th>
                                <th>Người mua</th>
                                <th>Giá</th>
                            </tr>
                            <tr>
                                <td>1/11/2019 10:43</td>
                                <td>****Khoa</td>
                                <td>6,000,000</td>
                            </tr>
                            <tr>
                                <td>1/11/2019 9:43</td>
                                <td>****Quang</td>
                                <td>5,900,000</td>
                            </tr>
                            <tr>
                                <td>1/11/2019 8:43</td>
                                <td>****Tuấn</td>
                                <td>5,800,000</td>
                            </tr>
                            <tr>
                                <td>1/11/2019 7:43</td>
                                <td>****Minh</td>
                                <td>5,700,000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>